.line{
    display: block;
    position: absolute;
    font-size: 1px;
    margin: 0;
}

.column{
    position: relative;
    width: 200px;
    height: 90%;
    display: inline-block;
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}