html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
  z-index: 1;
}
.container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea{
  width: 80%;
  height: 80%;
  z-index: -1;
  position: absolute;
  top: 0;
  resize: none;
  margin: auto;
}